{% load static navigation_tags wagtailcore_tags wagtailimages_tags cache %}
{% cache 900 top_posts %}
        <!-- Start Slider post area -->
        <div class="slider-post-area">
            <div class="container">
                <div class="row">
                    <!-- Start Left side -->
                    <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 pull-right">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                            {% show_post_in_top_posts2 top_posts.0 True %}
                            </div>
                        </div>
                        <hr>
                        <div class="row second-row">
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                {% show_post_in_top_posts2 top_posts.1 %}
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                {% show_post_in_top_posts2 top_posts.2 %}
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                {% show_post_in_top_posts2 top_posts.3 %}
                            </div>
                        </div>
                    </div>
                    <!-- End Left side -->
                    <!-- Start Righr side -->
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
                        <!-- Start post layout E -->
                        <aside class="zm-post-lay-e-area">
                            <div class="row mb-30">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="zm-posts-tab-menu">
                                        <ul class="nav nav-tabs">
                                        {% if settings.front.SideBar.get_panels.0 %}
                                            <li class="active"><a data-toggle="tab" href="#first_tab">{{ settings.front.SideBar.get_panels.0.title }}</a></li>
                                        {% endif %}
                                        {% if settings.front.SideBar.get_panels.1 %}
                                            <li><a data-toggle="tab" href="#second_tab">{{ settings.front.SideBar.get_panels.1.title }}</a></li>
                                        {% endif %}
                                        {% if settings.front.SideBar.get_panels.2 %}
                                            <li><a data-toggle="tab" href="#third_tab">{{ settings.front.SideBar.get_panels.2.title }}</a></li>
                                        {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="zm-posts-tab-content tab-content">
                                        <!-- Start Latest Posts -->
                                        <div id="first_tab" class="zm-posts tab-pane fade in active">
                                            {% for entry in settings.front.SideBar.get_panels.0.get_posts %}
                                                {% show_post_in_sidebar entry %}
                                            {% endfor %}
                                        </div><!-- End Latest Posts -->
                                       
                                        <!-- Start Comments Posts -->
                                        <div id="second_tab" class="zm-posts tab-pane fade">
                                            {% for entry in settings.front.SideBar.get_panels.1.get_posts %}
                                                {% show_post_in_sidebar entry %}
                                            {% endfor %}
                                    </div><!-- End Comments Posts -->
                                       
                                        <!-- Start Trending Posts -->
                                        <div id="third_tab" class="zm-posts tab-pane fade">
                                            {% for entry in settings.front.SideBar.get_panels.2.get_posts %}
                                                {% show_post_in_sidebar entry %}
                                            {% endfor %}

                                    </div><!-- End Trending Posts -->
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <!-- End post layout E -->
                    </div>
                    <!-- End Right side -->
                </div>
            </div>
        </div>
        <!-- End Slider post area -->
{% endcache %}